<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hera.com.orders">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Order"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UpdateURLActivity"
            android:label="Update URL" />
        <activity
            android:name=".PartnersActivity"
            android:label="Partners"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".PartnerDetailsActivity"
            android:label="Partners"/>
        <activity
            android:name=".ArticleActivity"
            android:label="Products" />
        <activity
            android:name=".AssortmentActivity"
            android:label="Assortment" />
        <activity
            android:name=".OrderEntryActivity"
            android:label="New Order" />
        <activity android:name=".CombinedActivity" />
        <activity
            android:name=".OrderPartnersActivity"
            android:label="Partners" />
        <activity android:name=".ArticleAmountActivity" />
        <activity android:name=".OrderDetailsActivity" />
        <activity android:name=".ArticleDetailsActivity"
            android:label="Products"/>
        <activity android:name=".AssortmentDetailsActivity" />
        <activity android:name=".WeekDaysActivity"
            android:label="Routes"/>
        <activity android:name=".ShowPartnersByWeekActivity"
            android:label="Partners"/>
        <activity android:name=".PartnerWeekDetailsActivity"></activity>
    </application>

</manifest>