<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hera.com.orders">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/appname"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UpdateURLActivity"
            android:label="@string/setup" />
        <activity
            android:name=".PartnersActivity"
            android:label="@string/partners"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PartnerDetailsActivity"
            android:label="@string/partners" />
        <activity
            android:name=".ArticleActivity"
            android:label="@string/articles" />
        <activity
            android:name=".AssortmentActivity"
            android:label="@string/assortment" />
        <activity
            android:name=".OrderEntryActivity"
            android:label="@string/neworder" />
        <activity android:name=".CombinedActivity" />
        <activity
            android:name=".OrderPartnersActivity"
            android:label="@string/partners" />
        <activity android:name=".ArticleAmountActivity" />
        <activity android:name=".OrderDetailsActivity" />
        <activity
            android:name=".ArticleDetailsActivity"
            android:label="@string/articles" />
        <activity android:name=".AssortmentDetailsActivity" />
        <activity
            android:name=".WeekDaysActivity"
            android:label="@string/route" />
        <activity
            android:name=".ShowPartnersByWeekActivity"
            android:label="@string/partners" />
        <activity android:name=".PartnerWeekDetailsActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>